* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}
#home{
	background: url(../images/home-hero.svg) no-repeat;
	background-position:right -10% top 30%;
	position:relative;
}
#home .ply{
	width:100px;
	height:100px;
	padding: 24px;
	background: #ff794b;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	position:absolute;
	top:10%;
	left:67%;

}
#home .ply img{
	display: block;
	width: 10px;
	margin:0 auto;
}
#home header{
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding:20px;
}
#home header nav ul{
	display:flex;
	align-items:center;
}
#home header nav ul li{
	margin-right: 18px;
	position: relative;
}
#home header nav ul li:last-child{
	margin-right: 0;
}
#home header nav ul li:after{
	content:'';
	height:2px;
	width:100%;
	position :absolute;
	background:#160647;
	top:90%;
	right:0;
	transition-duration: .8s;
	border-radius: 5px;
	transform: scale(0);
}
#home header nav ul li:hover:after{
	width:100%;
	transform: scale(.9);
}
#home header .right ul{
	display:flex;
}
#home header .right ul li{
	margin-right: 18px;
}
#home header .right ul li:last-child{
	margin-right: 0;
}
#home header .right ul li a.button{
	padding:10px 20px;
	background:#ffe4da;
	color:#ff906a;
	border-radius: 8px;
}
#home .spotlight{
	padding:80px;
}
#home .spotlight .content{
	width:80%
}
#home .spotlight .content h3{
	font-size: 50px;
	font-weight: 700;
	width:50%
}
#home .spotlight .content p{
	font-size: 18px;
	margin-top: 60px;
	width:30%;
	margin-bottom: 100px;
}
#home .spotlight .content form{
	border:1px solid black;
	width:300px;
	padding: 15px;
	display:flex;
	justify-content: space-between;
	position:relative;
	border-radius: 8px;
}
#home .spotlight .content form input[type="email"]{
	width: 70%;

	height:100%;
}
#home .spotlight .content form input[type="submit"]{
	padding:19px 40px ;
	background:#0056fb;
	position: absolute;
	top:-8%;
	right:-5%;
	border-radius: 10px;

	color:#fff;
}
#features{

}
#features .logo-trustie{
	text-align:center;
	padding-bottom: 80px;
}
#features .logo-trustie p{
	margin-bottom: 34px;
}
#features .logo-trustie ul{
	display:flex;
	justify-content: space-between;
	align-items:center;
}
#features .logo-trustie ul li{
	width:80px;
	margin-right: 20px;
}
#features .logo-trustie ul li img{
	width:100%;
}
#features .uses .flex{
	margin-top: 80px;
	display: flex;
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
	margin-bottom: 40px;
	padding: 20px;
}
#features .uses:nth-child(3){
	background: #f8f8f8;
}
#features .uses .flex .left{
	width: 140%;
}
#features .uses .left .flex img{
	width: 100%;
}
#features .uses .flex .right{
	width: 140%;
	padding-left: 50px;
	position: relative;
	padding-top: 50px;
}
#features .uses .flex .right h5{
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 34px;
}
#features .uses .flex .right h6{
	font-size: 18px;
	margin-bottom: 34px;
}
#features .uses .right a.button{
	padding:15px 20px ;
	background:#0056fb;
	border-radius: 10px;
	font-weight: 600;
	color: #fff;
}
#features .uses .flex .right p{
	margin-top: 190px;
	color:rgb(116, 116, 115);
	font-size: 14px;
}
#features .uses .right hr.line{
	width:60%;
	position: absolute;
	bottom:-10%;
	height:1px;
	background:rgb(100, 100, 100);
	bottom:40%;
}
#demo{

}
#demo .top{
width:100%;
}
#demo .top h4{
	font-size: 37px;
	font-weight: 600;
}
#demo .bottom{
	

}
#demo .bottom ul{
	margin-top: 40px;
	display:flex;
	width: 90%;
	position: relative;
	
}
#demo .bottom ul li {
	margin-right: 20px;
	
}
#demo .bottom ul li .contain{
	width:300px;
	

}
#demo .bottom ul li .contain img{
	width:100%;
}
#demo .bottom ul li .contain .text p{
	font-size: 12px;
}
#demo .bottom .play{
	width: 50px;
	height: 50px;
	background:#fff;
	padding: 3px;
	border-radius: 50%;
	position:absolute;
	left:22%;
	bottom:80%;
	display: flex;
	justify-content: space-around;

}
#demo .bottom .play img{
	width:50%;
}
#demo .bottom .play2{
	width: 50px;
	height: 50px;
	background:#fff;
	padding: 3px;
	border-radius: 50%;
	position:absolute;
	left:52%;
	bottom:80%;
	display: flex;
	justify-content: space-around;

}
#demo .bottom .play2 img{
	width:50%;
}
#demo .bottom .play3{
	width: 50px;
	height: 50px;
	background:#fff;
	padding: 3px;
	border-radius: 50%;
	position:absolute;
	left:82%;
	bottom:80%;
	display: flex;
	justify-content: space-around;

}
#demo .bottom .play3 img{
	width:50%;
}
#demo .bottom .logo3{
	background:#fff;
	padding: 8px 24px;
	border-radius: 6px;
	position:absolute;
	left:62%;
	bottom:30%;
	display: flex;
	justify-content: space-around;

}
#demo .bottom .logo2{
	
	background:#fff;
	width: 150px;
	padding: 8px 24px;
	border-radius: 6px;
	position:absolute;
	left:32%;
	bottom:30%;
	display: flex;
	justify-content: space-around;

}
#demo .bottom .logo2 img{
	width: 70%;
}
#demo .bottom .logo1{
	
	background:#fff;
	padding: 8px 24px;
	border-radius: 6px;
	position:absolute;
	left:2%;
	bottom:30%;
	display: flex;
	justify-content: space-around;

}
#testimonial{
	padding-top: 180px;
	padding-bottom :80px;
}
#testimonial .content{
	display: flex;
	justify-content: space-between;
	width: 90%;
	position: relative;
	margin:0 auto;
}
#testimonial .content .right{
	width: 48%;
	
}
#testimonial .content .right .prf-img{
	margin-bottom: 36px;
	
}
#testimonial .content .right .prf-img .logo-img{
	padding:8px 16px;
	top:auto;
	background: #fff;
	position: absolute;
	top:50%;
	left:1%;
	border-radius: 6px
}
#testimonial .content .right .prf-img .logo-img img{
	width: 50px;
	display: block;
}
#testimonial .content .right h5{
	font-size: 18px;
	font-weight: 600;
}
#testimonial .content .right h4{
	margin-top: 36px;
	font-size: 14px;
	font-weight: 600;
}
#testimonial .content .right small{
	font-size:14px;
	font-weight: 600;
	color:rgb(92, 90, 91)
}
#testimonial .content .right p{
	font-size: 14px;
	font-weight: 600;
	
}
#testimonial .content .right .prf-img .logo-img2{
	padding:8px 16px;
	top:auto;
	background: #fff;
	position: absolute;
	top:56%;
	left:53%;
	border-radius: 6px
}
#testimonial .content .right .prf-img .logo-img img{
	width: 80px;
	display: block;
}
#wibbitz{
	padding-top: 60px;
	background: #f8f8f8;
	padding-bottom: 50px;
}

#wibbitz .top{
	width: 50%;
	margin: 0 auto;
	text-align:center;
	padding:10px;
	padding-bottom: 120px;
}
#wibbitz .top h4{
	font-size: 36px;
	font-weight: 600;
}
#wibbitz .bottom{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	margin-bottom: 100px;

}
#wibbitz .bottom .widget{
	width: 30%;
	padding: 50px;
	margin-bottom: 30px;
	text-align:center;
}
#wibbitz .bottom .widget:hover{
	background: #fff;
	border-radius: 10px;
}
#wibbitz .bottom .widget:hover a.button{
	display:block;
	color:#0056fb;
	transition: ease-in;
	transition-duration: .4s;
}
#wibbitz .bottom .widget .w-img{
	width: 200px;
	margin:0 auto;
	padding-bottom: 30px;
}
#wibbitz .bottom .widget .w-img img{
	width: 100%;
}
#wibbitz .bottom .widget h5{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 24px;
}
#wibbitz .bottom .widget p{
	font-size: 14px;
	margin-bottom: 24px;
}
#wibbitz .bottom .widget a.button{
	color:#f8f8f8;
}
#wibbitz .box{
	background: #d0dfff;
	position: relative;
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: 50%;
	padding:30px;
	margin: 0 auto;
	border-radius: 10px;
}
#wibbitz .box .star{
	position: absolute;
	background: #fff;
	display: flex;
	justify-content:center;
	width:50px;
	height:50px;
	border-radius: 20px;
	top:-30%;
}
#wibbitz .box .star img{
	width: 30px;
}
#wibbitz .box h4{
	font-size: 18px;
	width:60%;
	font-weight: 600;
}
#wibbitz .box a.button{
	padding:10px 16px;
	background: #0056fb;
	border-radius: 8px;
	color:#fff;
}
#solution{
	padding-top: 80px;
}
#solution .top{
	width:400px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 90px;
}
#solution .top h4{
	font-size: 34px;
	font-weight: 600;
}
#solution .bottom{
	width:100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#solution .bottom .widget-card{
	width:31%;
	text-align: center;	
	padding:25px;
	position: relative;
	border-radius: 10px;
}
#solution .bottom .widget-card .l-box{
	width:60px;
	height: 60px;
	margin: 0 auto;
	background: #fff;
	display: flex;
	justify-content: center;
	padding: 6px;
	border-radius: 8px;
}
#solution .bottom .widget-card .l-box img{
	width: 40px;
}
#solution .bottom .widget-card .l-box h2{
	font-weight: 800;
}
#solution .bottom .widget-card h2{
	margin-top: 24px;
	margin-bottom: 24px;
	font-size: 34px;
	font-weight: 700;
}
#solution .bottom .widget-card p{
	margin-bottom: 24px;
}
#solution .bottom .widget-card:first-child{
	background:#d0dfff;
}
#solution .bottom .widget-card .img{
	width:320px;
	margin:0 auto;
	position:absolute;
	top: 70%;
}
#solution .bottom .widget-card .img img{
	width:100%;
}
#solution .bottom .widget-card a.button{
	padding:10px 10px;
	display:inline-block;
	margin-bottom: 150px;
	background: #0056fb;
	border-radius :8px;
	color:#fff;
}
#solution .bottom .widget-card a.button2{
	padding:10px 10px;
	display:inline-block;
	margin-bottom: 150px;
	background: #ffc836;
	border-radius :8px;
	color:#fff;
}
#solution .bottom .widget-card a.button3{
	padding:10px 10px;
	display:inline-block;
	margin-bottom: 150px;
	background: #ff7c50;
	border-radius :8px;
	color:#fff;
}
#solution .bottom .widget-card:nth-child(2){
	background:#fef4d7;
}
#solution .bottom .widget-card:nth-child(3){
	background:#ffe4da;
}
#resources{
	padding-top: 290px;
}
#resources .top{
	width:30%;
	margin-bottom: 30px;
}
#resources .top h4{
	font-size: 40px;
	font-weight: 700;
}
#resources .bottom{
	display: flex;
	justify-content:space-between;
	align-items: center;
}
#resources .bottom .wiget{
	width:30%;
	border-radius: 10px;
	overflow: hidden;
}
#resources .bottom .wiget .img-cnt{
	width: 350px;
	margin-bottom: 24px;

}
#resources .bottom .wiget .img-cnt img{
	width:100%;
	display: inline-block;
}
#resources .bottom .wiget p{
	margin-top: 24px;
	font-size: 12px;
}
#resources .bottom .wiget h5{
	font-weight: 700;
	margin-top: 24px;
}